@tailwind base;
@tailwind components;
@tailwind utilities;

#parentContainer {
  flex-wrap: wrap;
}
#parentContainer div {
  display: flex;
  flex-direction: column;
  width: 23%;
  margin: 8px 0;
  margin-bottom: 20px;
}

#detailsContainer{
  width: 100%!important;
}

 #details{
  width: 100%!important;
}

span{
  font-weight: light!important;
}